/* CSS Reset */

/* * {
    padding: 0;
    margin: 0;
} */

html,
body {
    margin: 0 auto;
    /* padding: 0 auto; */
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

/*Generall css for main and section*/
main {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 100%;
}

.headerTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: rgb(0, 0, 0);
    margin: 1% 4% 0 4%;
    text-shadow: none;
    display: none;
}

.SavedNoteTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin: 3% 0% 1% 3%;
    text-shadow: none;
}

/*nav section*/

nav {
    background: #435971;
    max-width: 250px;
    height: 100%;
    margin: 0;
}

#themeList {
    width: 55px;
    display: none;
    border: none;
    background-color: #D4D4D4;;
    appearance: none;
    border-radius: 5px;
    align-items: center;
    font-size: 30px;
    
}

#tool-menu-logo {
    font-family: 'Pacifico', cursive;
    font-size: 42px;
    color: white;
    width: 150px;
    background-color: #435971;
    border: none;
    outline: none;
}

#tool-menu-themes-title {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: white;
    width: 150px;
    background-color: #435971;
    border: none;
    cursor: default;
}

#hamburger-menu {
    background-color: rgb(43, 184, 219);
    display: none;
}

#hamburger-menu:hover {
    background-color: #4ED7F9;
}

#hamburger-menu:active {
    background-color: rgb(150, 218, 235);
}

.hamburger-container {
    display: block;
}

.hamburger-line {
    width: 45px;
    height: 7px;
    border-radius: 2px;
    margin: 7px 10px 7px 10px;
    background-color: rgb(70, 70, 70);
}

#tool-menu-container {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: #435971;
}

.tool-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(59, 59, 59);
    margin: 4px;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgb(53, 53, 53);
}



.tool-menu-item:hover {
    cursor: pointer;
    background-color: #4ED7F9;
}

.tool-menu-item:active {
    background-color: rgb(150, 218, 235);
}

.tool-menu-item-themes:hover {
    cursor: pointer;
    background-color: rgb(176, 102, 206);
}

.tool-menu-item-themes:active {
    background-color: rgb(119, 68, 111);
}

i.fas.fa {
    /* font-weight: none; */
    color: white;
}

#btn-save:hover {
    background-color: rgb(27, 214, 111);
}

#btn-save:active {
    background-color: rgb(74, 214, 137);
}

i {
    font-size: 40px;
}

#themlistContainer{

    z-index: 999;
}

.themListMenuClose{
    display: none;
    transition: 500ms linear;
    -webkit-transition: 500ms linear;
    -moz-transition: 500ms linear;
}

.themListMenuOpen{
    display: flex;
    flex-direction: column;
    transition: 500ms linear;
    -webkit-transition: 500ms linear;
    -moz-transition: 500ms linear;
}


#hallowen-themelist-btn:hover{
    background-color: orange;
}
#birthday-themelist-btn:hover{
    background-color: rgb(255, 220, 100);
}

#christmas-themelist-btn:hover{
    background-color: rgb(0, 180, 0);
}

#default-themelist-btn:hover{
    background-color: rgb(175, 121, 224);
}

/*text-editor section*/

#textEditorSection {
    width: 100%;
}

#input-Title {
    border: none;
    border-color: white;
    font-size: 20px;
    margin: 2.6% 4% 1% 4%;
}

#textarea-container {
    height: 80%;
    /* max-height: 840px; */
    margin: 0% 4% 0% 4%;
}

#editor {
    width: 100%;
    height: 80%;
}

/*doucument-handler section*/
#document-handler {
    background-color: rgb(0, 0, 0);

}

#document-handler-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 5% 0 5%;
}

.document-handler-item {
    padding: 0;
    margin: 0px 5px 20px 5px;
    width: 115px;
}

.document-handler-item i {
    color: rgb(173, 173, 173);
}

.img-document {
    width: 110px;
    content: url(/Graphics/document.png);
}

.img-document:hover {
    width: 110px;
    cursor: pointer;
    content: url(/Graphics/documentHover.png);
}

.item-title {

    vertical-align: bottom;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    float: left;
}

.item-time {
    font-size: 10px;
    float: left;
    margin: 5px 0px 0px 3px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

.fa-trash-alt {
    color: rgb(202, 0, 0);
    cursor: pointer;
    font-size: 16px !important;
    float: right;
    margin: 2px 10px 0px 0px;

}

.fa-star {
    color: rgb(241, 238, 6);
    cursor: pointer;
    font-size: 16px !important;
    float: right;
    margin: 0px 5px !important;
}

.fa-trash-alt:hover {
    color: rgb(202, 0, 0);
    cursor: pointer;
}

.fa-star:hover {
    color: rgb(241, 238, 6) !important;
    cursor: pointer;
}

/*Big screen*/
@media screen and (min-width: 100px) and (max-width:750px) {

    main {

        flex-direction: column;

    }

    nav {
        background: #435971;
        max-width: none;
        height: 70px;
        width: 100%;
    }

    #themeList {

        display: inline-block;
        margin: 30px 0px 0px 20px;

    }
    

    #tool-menu-logo {
        font-size: 1.7em;
        position: relative;
        margin-left: 0;
        height: 40px;
        width: 115px;
    }

   

    #tool-menu-container {
        max-width: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        margin: 0 auto;
        margin-left: 0;
    }

    .tool-menu-item-themes {
        display: none;
    }
}


@media screen and (max-width:750px) {

    main {
        flex-direction: column;
    }

    #new-document-btn,
    #btn-save,
    #btn-folder,
    #btn-print,
    #bar-themelist-btn,
    #default-themelist-btn,
    #hallowen-themelist-btn,
    #birthday-themelist-btn,
    #christmas-themelist-btn {
        width: 40px;
        height: 40px;
    }

    .fa-file-alt,
    .fa-save,
    .fa-folder,
    .fa-print,
    .fa-palette,
    .fa-ghost,
    .fa-dot-circle,
    .fa-birthday-cake,
    .fa-air-freshener {
        font-size: 30px;
    }

    nav {
        background: #435971;
        max-width: none;
        width: 100%;
        height: 100px;
    }
    #editor{
        height: 350px;
    }
    select {
        height: 44px;
        width: 44px;
        display: none;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }


    select:hover {
        cursor: pointer;
    }

    #themeList {
        border: 2px solid rgb(59, 59, 59);
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 3px;
    }

    #tool-menu-container {
        max-width: 500px;
        display: flex;
        height: 70px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        margin-top: 20px;

    }

    .tool-menu-item-themes {
        display: none;
    }
}

@media screen and (max-width:500px) {

    main {
        flex-direction: column;
    }

    nav {
        background: #435971;
        max-width: none;
        width: 100%;
        height: 100px;
    }

    #tool-menu-container {
        max-width: 500px;
        display: flex;
        height: 70px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;

    }

    .tool-menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: #D4D4D4;
        border: 2px solid rgb(59, 59, 59);
        border-radius: 5px;
        font-size: 30px;
        font-family: 'Wire One', sans-serif;
        color: rgb(53, 53, 53);
    }

    i {
        font-size: 20px;
    }

    .tool-menu-item-themes {
        display: none;
    }
}

@media screen and (max-width:385px) {

    .tool-menu-item {
        width: 15px;
        height: 15px;
        margin: 1px;
    }

    #themeList {
        margin: 1px;
    }

    #tool-menu-logo {
        font-size: 24px;
        width: 60px;
        /*  padding: none;
        margin: none; */
    }
}

@media print {
    * {
        margin: 0 auto;
    }

    body * {
        visibility: hidden;
    }

    .ql-editor * {
        visibility: visible;

    }

    .ql-editor {
        text-align: center;
        margin: 0 auto;
        overflow: hidden;
        height: auto;
        /* margin-left: 5%; */
    }

    p,ol,li,h2,h3,h4 {
        text-align: left;
    }

    nav {
        display: none;
    }

    #document-handler {
        display: none;
    }
}