
body {
  margin: 20px;
  background-color: white;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
    float: left;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.mySlides  {
    display: none;
    margin-bottom: 50px;
    background-color: white;
    margin-top: 50px;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    box-shadow: -webkit-box-shadow: 0px 9px 24px 1px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 9px 24px 1px rgba(0,0,0,0.75);
                        box-shadow: 0px 9px 24px 1px rgba(0,0,0,0.75);
}

.col-8 {
  display: grid;
  background: lightGrey;
  width: 80%;
  height: 710px;
  margin-left: auto;
  border-radius: 0px 20px 20px 0px;
  box-shadow: -webkit-box-shadow: 0px 9px 24px 1px rgba(0,0,0,0.75);
                  -moz-box-shadow: 0px 9px 24px 1px rgba(0,0,0,0.75);
                      box-shadow: 0px 9px 24px 1px rgba(0,0,0,0.75);

}

.col-4 {
  width: 20%;
  background: black;
  margin-left: 0;
  height: 710px;
  border-radius: 20px 0px 0px 20px;
  box-shadow: -webkit-box-shadow: 0px 9px 24px 1px rgba(0,0,0,0.75);
                  -moz-box-shadow: 0px 9px 24px 1px rgba(0,0,0,0.75);
                      box-shadow: 0px 9px 24px 1px rgba(0,0,0,0.75);
}

.logo {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  height: 100px;
  width: 100px;
  font-family: 'Shadows Into Light';
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 30px;
}

#menu-btn {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  font-size: 14px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.8);
  width: 150px;
  height: 40px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  position: relative;
  font-family: 'Shadows Into Light';
  font-style: oblique;
  letter-spacing: 2px;
  font-size: 48px;
  top: 15%;
}

.numbertext {
  text-align: center;
  position: relative;
  top: 60%;

}

.mySlides.fade section {
  background-color: rgba(250, 250, 250, 0.2);
  text-align: left;
  padding: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 35%;
  text-align: center;
}



.prev, .next {
  cursor: pointer;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}



@media only screen and (max-width: 600px) { /*mobile-phones */


    .dot {
      height: 75px;
      width: 75px;
      background-color: white;
      border-radius: 50%;
      display: inline-grid;
      margin: 50px;
      position: auto;
    }

    #menu-btn {
      max-width: 100%;
    }

    .slideshow-container {
      width: 50%;
    }

    .mySlides  {
        display: none;
        margin-bottom: 50px;
        max-width: 50%;
    }

    .mySlides.fade p {
      max-width: 50%;
    }

    .col-4 {
      width: 20%;
    }
}