.folder-slide-close {
    height: 100%;
    width: 600px;
    position: fixed;
    left: -600px;
    z-index: 1;
    color: white;
    background: black;

    transition: all 500ms linear;
}

.folder-slide-open {
    height: 100%;
    width: 600px;
    position: fixed;
    left: 0px;
    z-index: 1;
    color: white;
    background: black;
    opacity: 0.95;
    transition: all 500ms linear;
   
}

.folder-slide-open .document-handler {
    color: gray;
    text-decoration: none;
   
    display: block;
    transition: 3s;
}

.document-handler:hover {
    color: white;
}

#closeButton {
    color: grey;
}

#closeButton:hover {
    color: white;
    cursor: pointer;
}

.folder-slide-open .closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
    text-decoration: none;
    color: grey;
}

.folder-slide-open .closeButton:hover {
    color: white;
}

@media screen and (max-width: 576px) {
    .folder-slide-open {
        flex-direction: column;
    }
}