/* CSS Reset */




html, body {
    margin:0px;
    padding:0px;
    width:100%;
    height: 100%;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

/*Generall css for main and section*/
main{
    display:flex;
    flex-direction: row;
    justify-content: center;
}


/*nav section*/

nav{
    background: #435971;
    height: 710px;
}


#tool-menu-logo{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: white;
    width: 150px;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    
}
#hamburger-menu{
    display: none;
    background-color: rgb(43, 184, 219);
}
#hamburger-menu:hover{
    background-color: #4ED7F9;
    
}
#hamburger-menu:active{
    background-color: rgb(150, 218, 235);
}

.hamburger-container{
    display: none;
}
.menu-switch{
    display: none;
}
div .menu-switch{
    visibility: hidden;
}
/* .hamburger-line{
    width: 45px;
    height: 7px;
    border-radius: 2px;
    margin:7px 10px 7px 10px;
    background-color: rgb(70, 70, 70);
} */

#tool-menu-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:40px 3% 0 8%;
 }
.tools{
    margin-top:10px;
    position: relative;
    display: inline-flex;
}

.tool-menu-item{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color:#D4D4D4;
    border: 2px solid rgb(59, 59, 59);
    margin: 4px;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgb(53, 53, 53);
}

.tool-menu-item-empty{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color:rgba(212, 212, 212, 0);
    border: 2px solid rgba(59, 59, 59, 0);
    margin: 4px;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgba(53, 53, 53, 0);
}

.tool-menu-item:hover{
    cursor: pointer;
    background-color: #4ED7F9;
    
}
.tool-menu-item:active{
    background-color: rgb(150, 218, 235);
}

#btn-italic{
font-style: italic;
}

#btn-underline{
text-decoration: underline;
}

#btn-bold{
font-weight: 900;
}

#btn-save{
background-color:rgb(247, 247, 247);
}

#btn-save:hover{
background-color:rgb(27, 214, 111);
}
#btn-save:active{
background-color:rgb(74, 214, 137);
}
#easter-egg1{
background-color:#D4D4D4;
}
    
#easter-egg1:hover{
background-color:rgb(214, 27, 189);
}
#easter-egg1:active{
background-color:rgb(209, 74, 214);
}

#easter-egg2{
background-color:#D4D4D4;
}
        
#easter-egg2:hover{
background-color:rgb(214, 155, 27);
}
#easter-egg2:active{
background-color:rgb(214, 193, 74);
}

#easter-egg3{
background-color:#D4D4D4;
}
            
#easter-egg3:hover{
background-color:rgb(158, 214, 27);
}
#easter-egg3:active{
background-color:rgb(130, 214, 74);
}
    
i {
font-size: 40px;
}

/*text-editor section*/

#textarea-container{
    height: px;
    width: 641.12px;
    
}

/*doucument-handler section*/
.sideMenu{
    width: 100%;
    margin-left: 0;
    background-color:rgb(170, 170, 170);
    height: 710px;
}

#document-handler-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    max-height: 710px;
    margin:10px 2% 0 7%; 
}

.document-handler-item{  
    padding: 0;
    margin-left:10px;
    margin-top: 15px;
    width: 115px;
}

.document-handler-item i{
    color: rgb(44, 44, 44);
}

.img-document{
    width: 110px;
    content: url(/components/document.png);
}

.img-document:hover{
    width: 110px;
    cursor: pointer;
    content: url(/components/documentHover.png);
}

.img-document-add{
    width: 110px;
    content: url(/components/documentplus.png);
}
.img-document-add:hover{
    width: 110px;
    cursor: pointer;
    content: url(/components/documentplusHover.png);

    
}
.item-title{
    
    vertical-align: bottom; 
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-left:2px; 
    float: left;

}

.item-time{
    font-size: 10px;
    float: left;
    margin:5px 0px 0px 3px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;

}

.fa-trash-alt{
    color: rgb(202, 0, 0);
    cursor: pointer;
    font-size: 16px !important;
    float: right;
    margin: 2px 10px 0px 0px;
    
}

.fa-star{
    color: rgb(241, 238, 6);
    cursor: pointer;
    font-size: 16px !important;
    float: right;
    margin: 0px 5px !important;
    
}
.fa-trash-alt:hover{
    color: rgb(202, 0, 0);
    cursor: pointer;
    
}

.fa-star:hover{
    color: rgb(241, 238, 6) !important;
    cursor: pointer;
}

/*1130px width, then change*/

@media screen and (max-width: 1130px) and (min-width: 940px){
    .sideMenu{
        display: none;
    }
    nav{
        width: 100%;
    }

}

@media screen and (max-width: 940px) and (min-width: 410px){
    .sideMenu{
        visibility: hidden;
    }
    .display{
        visibility: visible;
        display: block;
        position: absolute;
        width: 300px;
        right: 0;
        top: 120px;
        background-color: #435971;

    }

    .switchDisplay{
        visibility: visible;
        height: 50px;
        width: 300px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #435971;
        text-align: center;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        font-weight: 800;
    }
    .switchDisplay div{
        display: inline-block;
        padding: 10px 32px;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255, 0.5);
    }
    .switchDisplay div:hover{
        cursor: pointer;
    }

    #tool-menu-container{
        display: block;
        margin: 0 auto;
        left: 0;
        position: absolute;
        width: 100%;
        height: 70px;
        background-color: #435971; 
    }
    .tools{
        margin-top: 4px;
        margin-left: 170px;
        position: relative;
        display: inline-flex;
    }
    
    body{
        margin: 0 auto;
    }
    #input-Title{
        height: 20px;
    }

    #hamburger-menu{
        background-color: white;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
        border-radius: 2px;
        width: 42px;
        height: 44px;
    
    }
    #hamburger-menu:hover{
        background-color: #4ED7F9;
        cursor: pointer;
    }
    button{
        border: none;
    }
    
    /* #hamburger-menu:active{
        background-color: rgb(150, 218, 235);
    } */
    
    #hamburger-container{
        position: relative;
        display: block;
        width: 44px;
        height: 44px;
        text-align: center;
        background-image: url(/components/burger.svg);
    }
    
    /* .hamburger-line{
        position: relative;
        width: 20px;
        height: 2px;
        border-radius: 2px;
        margin:5px 20px 5px 10px;
        background-color: rgb(70, 70, 70);
    } */
    #tool-menu-logo{
        position: absolute;
        top: 5px;
        left: 20px;
        font-family: 'Pacifico', cursive;
        color: white;
        font-size: 2em;
    }
    #paperNote{
        margin-top: 70px;
        position: absolute;
        width: 100%;
        height: 640px;
        background-color: white; 
        box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    
    }
    .form-control{
        margin-top: 10px;
        margin-bottom: 6px;
        width: 100%;
        border: none;
    }
    #textarea-container{
        width: 100%;
        height: 50%;
    }
    .ql-toolbar{
        background-color: rgba(67, 89, 113, 0.7);
        width: 100%;
    }
    #editor{
        border: none;
        width: 100%;
    }


    .tool-menu-item{
        flex-direction: row;
        width: 50px;
        height: 50px;
        padding: 10px;
        font-size: 10px;
        text-align: center;
        left: 0;
        margin-left: 3%;
        position: relative;
        padding: 0;
    }
    
    #tool-menu{
        font-family: 'Raleway', sans-serif;
        display: inline-block;
        font-size: 0;
        width: 100%;
        text-align: center;
        position: relative;
        padding: 0;
    }
    #new-document-btn:hover{
        cursor: pointer;
    }
    #btn-print:hover{
        cursor: pointer;
    
    }
    #btn-save:hover{
        cursor: pointer;
        background-size: 108%;
        background-image: url(/components/save2.svg);
    
    
    }

}