
/*****Cristmas************************************/
.christmasTheme {
    font-family: 'Charmonman', cursive;
    color: blue;
}

.large {

    color: red;
}
/************************************************/

/*****Fotball************************************/
.fotballTheme {
    font-family: 'Bevan', cursive;
    color: rgb(87, 110, 78);
}

.fotballTheme h1 {
    color: rgb(9, 145, 5);
}
/************************************************/

/* font-family: 'Charmonman', cursive;

   font-family: 'Dokdo', cursive;

   font-family: 'Dancing Script', cursive;

   font-family: 'Bevan', cursive;

   font-family: 'Fredericka the Great', cursive; */