.christmasTheme {
    font-family: 'Charmonman', cursive;
    color: blue;
}

.large {

    /* font-family: 'Charmonman', cursive; */
    color: red;
}


/* font-family: 'Charmonman', cursive;

   font-family: 'Dokdo', cursive;

   font-family: 'Dancing Script', cursive;

   font-family: 'Bevan', cursive;

   font-family: 'Fredericka the Great', cursive; */