body {
  padding: 20px;
}
/* div {
  overflow: hidden;
} */
.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:	#f7f8f7;
  }
  
  .HolyGrail-body {

    display: flex;
    flex: 1;
  }
  Styling three equal-height columns with a fluid center and fixed-width sidebars is just as easy:
  
  .HolyGrail-content {
    flex: 1;

  }

  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    background-color: rgb(118, 190, 118);
  }

  .HolyGrail-nav {
    /* put the nav on the left */
    order: -1;
    background-color: rgb(118, 190, 118);
  }
.HolyGrail2-nav {
    /* put the nav on the left */
    order: -2;
    flex:1;
    background-color: rgb(9, 71, 9);
  }

  html {
    height: 100%;
  }
  body {
    margin: 0;
    height: 100%;
  }
  #editor {

    width:1000px;
    height: 600px;
      background-color: #c0d4c0;
  }
  button {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 20px;
  }
.mrbutton {
    color: #fff;
    background: #2f741a;
    border: 1px solid #348efb;
    display: inline-block;
    font-weight: 400;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
}
.item2{
  flex:3;
  margin-left:50px;


  background-color : #dbd830;

}
.text {
    background-color: rgb(241, 241, 241);
}
#text1 {
  font-size: 13px;
  margin: 0px;
  overflow:hidden;
  padding: 20px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 10px solid white;
  margin-top:10px;
}
.img {
  width: 100px;
}


/* Add you own css or copy it from the theme stylesheet
 */

#Div1 {
  font-size: 13px;
  margin: 0px;
  overflow:hidden;
  padding: 20px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 10px solid white;
  margin-top:10px;
}
#save {
  background: #2f741a;
}